.container-1{
    display: flex;
}

.first-section{
    width: 80%;
    height: 520px;
    margin-bottom: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.second-section{
    width: 20%;
    background: center / cover repeat-y url("Book_img.jpg");
    height: 520px;
    margin-bottom: 10px;
}

div ul.feat{
    list-style: none;
    text-decoration: none;
    display: flex;

}

div ul.feat li{
    padding: 50px;
    border: 2px solid grey;
    margin: 10px;
    border-radius: 100%;
}

.features, .recommended, .footer{
    /* background-color: #eae7dc; */
    background-color: #d8c3a5;
}

.first-section, .my-collection, .popular{
    background-color: #eae7dc;
}