<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu"
      rel="stylesheet"
    />
    

    <!-- CSS Stylesheets -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/book.css" />
    <link rel="stylesheet" href="css/about.css" />
    

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/11fe48ab2d.js"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="js/home.js"></script>
  </head>

  <body>
    <!-- alert div starts here -->
    
    <!-- alert div ends here -->
    <div id="login_container">
      <div class="container_login">
        <div class="screen">
          <div class="screen__content">
            <a href="#" class="close" onclick="closeButtonHandler()"></a>
            <form class="login__" action="/login" method="post">
              <div class="login__field">
                <i class="login__icon fas fa-user"></i>
                <input
                  type="text"
                  class="login__input"
                  placeholder="Username"
                  name="Username"
                />
              </div>
              <div class="login__field">
                <i class="login__icon fas fa-lock"></i>
                <input
                  type="password"
                  class="login__input"
                  placeholder="Password"
                  name="Password"
                />
              </div>
              <button class="button login__submit" type="submit">
                <span class="button__text">Log In Now</span>
                <i class="button__icon fas fa-chevron-right"></i>
              </button>
              <button class="button login__submit" onclick="signUpHandler()">
                <span class="button__text">Sign Up Now</span>
                <i class="button__icon fas fa-chevron-right"></i>
              </button>
            </form>
          </div>
          <div class="screen__background">
            <span
              class="screen__background__shape screen__background__shape4"
            ></span>
            <span
              class="screen__background__shape screen__background__shape3"
            ></span>
            <span
              class="screen__background__shape screen__background__shape2"
            ></span>
            <span
              class="screen__background__shape screen__background__shape1"
            ></span>
          </div>
        </div>
      </div>
    </div>
    <section class="colored-section" id="title">
      <div class="container-fluid">
        <!-- Nav Bar -->

        <nav class="navbar navbar-expand-lg navbar-dark">
          <!-- <a class="navbar-brand" href="">${Book.review}</a> -->
          <a class="navbar-brand" href="">MarkmyViews</a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/category">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/books:general">Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer">Contact</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/about">About</a>
              </li>
              <% if(Username){%>
              <li class="nav-item">
                <div class="efecto"></div>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <form action="/logout" method="post">
                    <button class="logout" type="submit">Logout</button>
                  </form>
                </a>
              </li>
              <%}else{%>
              <li class="nav-item">
                <a class="nav-link" onclick="loginPageHandler()">
                  <div class="login">Login</div>
                </a>
              </li>
              <%}%>
            </ul>
          </div>
        </nav>

        <!-- Title -->
    </section>
    <div id="loader" class="center"></div>
    <h1>Our Team</h1>
    <section class="card1">
        <!-- 1 person -->
        <div class="card" style="width: 18rem;">
          <img src="images/user.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Aditya Thorat</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <p class="card-text">Pro Coder</p> -->
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!-- 2 person -->
        <div class="card" style="width: 18rem;">
          <img src="images/user.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Paresh Barge</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!-- 3 person -->
        <div class="card" style="width: 18rem;">
          <img src="images/user.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Darshan Bhandari</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <p class="card-text">Pro Coder</p> -->
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!-- 4 person -->
        <div class="card" style="width: 18rem;">
          <img src="images/user.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Meher Datey</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <!-- 5 person -->
        <div class="card" style="width: 18rem;">
          <img src="images/user.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chinmayee Dharmadhikari</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </section>

    <!-- Footer -->

    <footer class="white-section" id="footer">
      <div class="container-fluid">
        <i class="social-icon fab fa-facebook-f"></i>
        <i class="social-icon fab fa-twitter"></i>
        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fas fa-envelope"></i>
        <!-- <p>&copy; Copyright 2022 ${Book.review}</p> -->
        <p>&copy; Copyright 2022.MarkmyViews</p>
      </div>
    </footer>
    <script>
      document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
          document.querySelector(
          "body").style.visibility = "hidden";
          document.querySelector(
          "#loader").style.visibility = "visible";
        } else {
          document.querySelector(
          "#loader").style.display = "none";
          document.querySelector(
          "body").style.visibility = "visible";
        }
      };
    </script>
  </body>
</html>
