<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Project</title>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu"
      rel="stylesheet"
    />

    <!-- CSS Stylesheets -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/book.css" />

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/11fe48ab2d.js"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="js/home.js"></script>
    <script src="js/book.js"></script>
  </head>
  <body>
    <div id="login_container">
      <div class="container_login">
        <div class="screen">
          <div class="screen__content">
            <a href="#" class="close" onclick="closeButtonHandler()"></a>
            <form class="login__">
              <div class="login__field">
                <i class="login__icon fas fa-user"></i>
                <input
                  type="text"
                  class="login__input"
                  placeholder="Username"
                />
              </div>
              <div class="login__field">
                <i class="login__icon fas fa-lock"></i>
                <input
                  type="password"
                  class="login__input"
                  placeholder="Password"
                />
              </div>
              <button class="button login__submit">
                <span class="button__text">Log In Now</span>
                <i class="button__icon fas fa-chevron-right"></i>
              </button>
              <button class="button login__submit" onclick="signUpHandler()">
                <span class="button__text">Sign Up Now</span>
                <i class="button__icon fas fa-chevron-right"></i>
              </button>
            </form>
          </div>
          <div class="screen__background">
            <span
              class="screen__background__shape screen__background__shape4"
            ></span>
            <span
              class="screen__background__shape screen__background__shape3"
            ></span>
            <span
              class="screen__background__shape screen__background__shape2"
            ></span>
            <span
              class="screen__background__shape screen__background__shape1"
            ></span>
          </div>
        </div>
      </div>
    </div>
    <section class="colored-section" id="title">
      <div class="container-fluid">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="">${Book.review}</a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/category">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pricing">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#cta">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="loginPageHandler()">
                  <div class="login">Login</div>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <!-- Page content -->
    <section>
      <div class="container-fluid mycontainer">
        <div class="bookImage">
          <img src="images/image.webp" alt="Image not found!" />
        </div>
        <div class="scrollableDiv">
          <h5 style="text-align: center">Title of the book</h5>
          <div
            style="
              display: flex;
              text-align: center;
              align-items: center;
              justify-content: center;
            "
          >
            <div
              class="Stars"
              style="--rating: 5"
              aria-label="Rating of this product is 2.3 out of 5."
            >
              <p style="font-size: 1rem">51 Ratings and 20 Reviews</p>
            </div>
          </div>
          <h5
            style="display: flex; flex-direction: row; justify-content: center"
          >
            Author
            <p style="font-weight: 300">&nbsp; Housel Morgan</p>
          </h5>
          <h5>Description</h5>
          <div style="margin:1vh 1vw;padding:1vh 1vw;text-align: initial;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quae
            at maxime iusto fugiat id quam ducimus odit iste et nihil beatae
            minima dignissimos ipsum deserunt consequuntur, praesentium impedit
            amet.
          </div>
          <div class="ratings">
            <h5>Reviews and Ratings</h5>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">UserName-1</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <div style="display: flex">
                    <div
                      class="Stars"
                      style="--rating: 3"
                      aria-label="Rating of this product is 2.3 out of 5."
                    ></div>
                  </div>
                </h6>
                <p class="card-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Blanditiis iusto ducimus facilis exercitationem incidunt
                  voluptate atque repudiandae dolorem hic facere molestiae id
                  dolores perferendis sed, officiis possimus magni animi
                  laudantium!F
                </p>
              </div>
            </div>
            <div class="card mycard">
              <div class="card-body">
                <h5 class="card-title">UserName-2</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <div style="display: flex">
                    <div
                      class="Stars"
                      style="--rating: 1"
                      aria-label="Rating of this product is 2.3 out of 5."
                    ></div>
                  </div>
                </h6>
                <p class="card-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Blanditiis iusto ducimus facilis exercitationem incidunt
                  voluptate atque repudiandae dolorem hic facere molestiae id
                  dolores perferendis sed, officiis possimus magni animi
                  laudantium!F
                </p>
              </div>
            </div>
            <div class="card mycard">
              <div class="card-body">
                <h5 class="card-title">UserName-3</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <div style="display: flex">
                    <div
                      class="Stars"
                      style="--rating: 1.5"
                      aria-label="Rating of this product is 2.3 out of 5."
                    ></div>
                  </div>
                </h6>
                <p class="card-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Blanditiis iusto ducimus facilis exercitationem incidunt
                  voluptate atque repudiandae dolorem hic facere molestiae id
                  dolores perferendis sed, officiis possimus magni animi
                  laudantium!F
                </p>
              </div>
            </div>
            <div class="card mycard">
              <div class="card-body">
                <h5 class="card-title">UserName-4</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <div style="display: flex">
                    <div
                      class="Stars"
                      style="--rating: 2"
                      aria-label="Rating of this product is 2.3 out of 5."
                    ></div>
                  </div>
                </h6>
                <p class="card-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Blanditiis iusto ducimus facilis exercitationem incidunt
                  voluptate atque repudiandae dolorem hic facere molestiae id
                  dolores perferendis sed, officiis possimus magni animi
                  laudantium!F
                </p>
              </div>
            </div>
          </div>
          <form action="#" class="myform">
            <div class="UserRR">
              <h5>Rate and Review the book for others to decide</h5>
              <div class="UserRating">
                <input type="number" style="width: 40px; height: 40px" /> Stars
                of 5
              </div>
              <div class="UserReview">
                <h5>Review</h5>
                <textarea rows="8" cols="80"></textarea>
              </div>
              <button type="button" class="btn btn-success">Post</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="white-section" id="footer">
      <div class="container-fluid">
        <i class="social-icon fab fa-facebook-f"></i>
        <i class="social-icon fab fa-twitter"></i>
        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fas fa-envelope"></i>
        <p>&copy; Copyright 2022 ${Book.review}</p>
      </div>
    </footer>
  </body>
</html>
