.container-fluid {
  padding: 0;
}
#title .container-fluid {
  padding: 3% 15% 1%;
}
.navbar {
  padding: 0;
}
#main_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.books_header {
  width: 100vw;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
}
.card {
  margin: 1vh 1vw;
  height: inherit;
  padding: 1vh 1vw;
  border: none;
}
.card-img-top {
  height: 300px;
  width: fit-content;
  border: 2px solid transparent;
  border-radius: 10px;
}
